*{
    font-size:22px;
    font-family:"Times New Roman",Georgia,sans-serif;
}
.title{
    text-align: center;
    font-size: 72px;

}
.instruction{
    text-align: center;
}
.header{
    text-align:center;
    color:orange;
    background-color:green
    
}


h2{
    font-size:32px;
}
.image-text{
    display: flex;
    align-items: center;

}
.image{
    display: inline-block;
    vertical-align: middle;
    height:auto;
    width:250px;
}
.text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}
.return{
    text-align: center;
    vertical-align: center ;
}


